@page "/"

@inject HttpClient Http
@inject IModalService _modalService
@inject FoodViewModel model
@inject IToastService toastService

@using Blazored.Modal.Services;
@using Healt_Food.Client.Components;
@using Healt_Food.Client.ViewModel;
@using Healt_Food.Shared.Entites;

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered caption-top table-hover">
                <caption style="text-align:center; background-color: rgba(142, 33, 244, 0.737); color: white;">Lebensmittelliste</caption>

                <thead>
                    <tr>
                        <th scope="col">Name des Lebensmittels</th>
                        <th scope="col">Fett (g)</th>
                        <th scope="col">Kohlenhydrate (g)</th>
                        <th scope="col">Eiweiß (g)</th>
                        <th scope="col">Kalorien (kcal)</th>
                        <th scope="col">Aktionen</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var food in foods)
                    {
                        <tr>
                            <th scope="row">@food.Name</th>
                            <td>@food.Fat</td>
                            <td>@food.Carbohydrates</td>
                            <td>@food.Protein</td>
                            <td>@food.Calories</td>
                            <td>
                                <div class="d-grid gap-2 d-md-block">
                                    <button @onclick="() => AddToFavorite(food)" type="button" class="btn btn-outline-danger" style="font-size: 10px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                        </svg>
                                    </button>
                                    <button @onclick="@(() => AddFoodToWeekly(food))" type="button" class="btn btn-outline-primary" style="font-size: 10px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                                        </svg>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    private List<Food> foods = new List<Food>();

    protected override async Task OnInitializedAsync()
    {
        foods = await Http.GetFromJsonAsync<List<Food>>("Food");
    }

    private async Task AddToFavorite(Food food)
    {

        if (food.Favorite == true)
        {
            toastService.ShowError("Das Essen wurde bereits zur Favoritenliste hinzugefügt");
        }
        else
        {
            food.Favorite = true;
            await Http.PutAsJsonAsync("Food", food);
            toastService.ShowSuccess("erfolgreich zu den Favoriten hinzugefügt");

        }
    }

    private async Task AddFoodToWeekly(Food food)
    {
        model.SaveFood(food);
        _modalService.Show<ChooseDayOfWeekComponent>("Choose day of week");
    }
}